body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.pesan {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 80%; /* Maksimum lebar sesuai perangkat seluler */
}

.hasil {
    width: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin: 20px 0; /* Mengatur jarak atas dan bawah */
    font-size: 16px; /* Meningkatkan ukuran teks agar lebih terbaca di perangkat seluler */
}

h1 {
    color: #333;
}

p {
    color: #777;
}

a {
    display: block;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 20px 0; /* Mengatur jarak atas dan bawah */
}

a:hover {
    background-color: #0056b3;
}
